<h1>Edit a post</h1>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input value=model.title placeholder=model.title id="title"}}
  </div>
  <div class="form-group">
    <label for="title">Author</label>
    {{input value=model.author placeholder=model.author id="author"}}
  </div>
  <div class="form-group">
    <label for="title">Category</label>
    {{input value=model.category placeholder=model.category id="category"}}
  </div>
  <div class="form-group">
    <label for="title">Content</label>
    {{textarea value=model.content placeholder=model.content id="content"}}
  </div>
  <div class="form-group">
    <label for="title">Image</label>
    {{input value=model.image placeholder=model.image id="image"}}
  </div>
  <div class="form-group">
    <label for="title">Timestamp</label>
    {{input type="date" value=model.timestamp placeholder=model.timestamp id="timestamp"}}
  </div>
  <button {{action 'editPost' model}}>Submit Edit</button>
</form>
