<h1>New post</h1>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="title">Author</label>
    {{input value=author id="author"}}
  </div>
  <div class="form-group">
    <label for="title">Category</label>
    {{input value=category id="category"}}
  </div>
  <div class="form-group">
    <label for="title">Content</label>
    {{textarea value=content id="content"}}
  </div>
  <div class="form-group">
    <label for="title">Image</label>
    {{input value=image id="image"}}
  </div>
  <div class="form-group">
    <label for="title">Timestamp</label>
    {{input type="date" value=timestamp id="timestamp"}}
  </div>
  <button {{action 'newPost'}}>Submit New</button>
</form>
